.rp-rb-add-mom {
  height: 5rem;
}

.rp-rbc-card {
  // height: 6rem;
  // width: 43rem;
}


.rp-rs-down-arrow {
  margin-right: 0.6rem;
  font-size: 0.75rem !important;
  cursor: pointer;
}

.main-container {
  width: 100%;
  background: white;
  margin: 15px;

}

// font-size: 14px;
// margin: 3.5rem;
// margin-right: 0.2rem;
// border-style: solid;
// border-color: white;
// border-width: 1px;
// padding: 1.5rem;
// /* border-radius: 1rem; */
// box-shadow: 
