// Variable overrides
// $app-secondary-color: #2f353a;
$app-secondary-color:rgb(4, 56, 26);
// $app-secondary-color-light: #003168;
$app-secondary-color-light: rgb(11, 98, 46);
$app-primary-color: #01D251;
// $app-primary-color: #1a2138;

$app-font-color-light: white;

$app-fail-color: #ED6648;
$app-pass-color: #36A2EB;

$app-not-tested-color: rgb(255, 161, 99);

$app-warning-color:#F9D55B;
$app-pass-color: #68C083;
$app-total-color: #36A2EB;
$app-storage-color: rgb(242, 143, 31);
$app-network-color: rgb(32, 114, 178);
$app-management-color: rgb(195, 25, 126);
$app-others-color: rgb(140, 189, 63);
